connexion~=2.14
connexion[swagger-ui]~=2.14
flask<2.3
flask_cors
grpcio
grpcio-tools
vyper-config
sqlalchemy
psycopg2
PyJWT~=2.8.0
bcrypt
pydantic
python-dateutil
Flask-Testing
pandas
requests
fastparquet
jinja2
jupytext
cryptography
